<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>Scare-O-Rator</title>
    <link rel="icon" href="static/raterlogo.svg">
</head>
<body>
    <main>
        <img class="main" src="static/mainimg.svg" alt="Main Image">
        <h1 class="name">Scare-O-Rator</h1>
        <img class="face" src="static/face.svg" alt="face">
        <img class="fog" src="static/fog3.png" alt="fog">
        <a class="start" href="upload" >Start</a>

    </main>

    <script src="static/script.js"></script>
</body>
</html>