<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Scare-O-Rator</title>
    <link rel="icon" href="static/raterlogo.svg">
</head>
<body>
    <header>
        <div class="logo-container">
            <h4 class="logo">Scare-O-Rator</h4>
        </div>
    </header>
    <main>
        <img src="static/backimg.svg" alt="backimage" style="width: 1530px;">
        <img class="intro" src="static/intro.svg" alt="Intro">
        <form action="http://127.0.0.1:5000/test" method="POST" enctype="multipart/form-data" name="form">
            <input class="upload" type="file"
            id="avatar" name="avatar"
            accept="image/png, image/jpeg">
            <input style="position: absolute;
  z-index: 3;
  top: 90vh;
  left: 1100px;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  font-weight: 700;
  font-size: 10pt;
  background-color: rgb(129, 7, 7);" type="submit">
        </form>
    </main>
    <script src="static/main.js"></script>
</body>
</html>